body {
    font-family: Arial;
    background: #f4f6f8;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input, select, button {
    display: block;
    margin: 10px 0;
    padding: 8px;
}
